* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightgray; /* Background color of the body */
    padding: 20px; /* Space around the content */
}

h1 {
    text-align: center;
}

.form {
    background-color: white; /* Background color of the form */
    padding: 20px; /* Space inside the form */
    border: 1px solid #ccc; /* Border of the form */
    border-radius: 5px; /* Rounded corners for the form */
    margin-top: 20px; /* Space above the form */
    max-width: 600px; /* Maximum width of the form */
    margin-left: auto; /* Centers the form */
    margin-right: auto; /* Centers the form */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 20px); /* Width of the input fields, with a small margin on both sides */
    padding: 10px; /* Inner space of the input fields */
    margin-bottom: 10px; /* Space below each input field */
    border: 1px solid #ccc; /* Border of the input fields */
    border-radius: 5px; /* Rounded corners for the input fields */
    box-sizing: border-box; /* Ensures padding and border are within the specified width */
}

.button {
    width: calc(100% - 20px); /* Width of the button, with a small margin on both sides */
    background-color: black; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding (space inside the button) */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    text-decoration: none; /* No underline */
    display: inline-block; /* Ensures the button is displayed inline */
}

.button:hover {
    background-color: rgb(0, 0, 120); /* Background color on hover */
}

.button:active {
    background-color: rgb(0, 0, 120); /* Background color when active */
}

#error-message {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.CV {
    margin-top: 10px;
}

h2 {
    margin-bottom: -20px;
    margin-top: 10px;
}

.section {
    background-color: white; /* Background color of the form */
    padding: 20px; /* Space inside the form */
    border: 1px solid #ccc; /* Border of the form */
    border-radius: 5px; /* Rounded corners for the form */
    margin-top: 20px; /* Space above the form */
    max-width: 450px; /* Maximum width of the form */
    min-height: 430px; /* Minimum height of the form */
    margin-left: auto; /* Centers the form */
    margin-right: auto; /* Centers the form */
}

.label {
    font-weight: bold;
}
